<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <!--<div class="field">
    <%= form.label :done %>
    <%= form.text_field :done, id: :task_done %>
  </div>-->

  <div class="field">
    <%= form.label :plan1 %>
    <%= form.text_field :plan1, id: :task_plan1 %>
    <%= form.label :plan2 %>
    <%= form.text_field :plan2, id: :task_plan2 %>
  </div>

  <div class="field">
    <%= form.label :planTime %>
    <%= form.text_field :planTime, id: :task_planTime %>
  </div>

  <!--<div class="field">
    <%= form.label :results1 %>
    <%= form.text_field :results1, id: :task_results %>
    <%= form.label :results2 %>
    <%= form.text_field :results2, id: :task_results %>
  </div>

  <div class="field">
    <%= form.label :resultsTime %>
    <%= form.text_field :resultsTime, id: :task_resultsTime %>
  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
