<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Done</th>
      <th>PlanStart</th>
      <th>PlanEnd</th>
      <th>Plantime</th>
      <th>ResultsStart</th>
      <th>ResultsEnd</th>
      <th>Resultstime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.done %></td>
        <td><%= task.plan1 %></td>
        <td><%= task.plan2 %></td>
        <td><%= task.planTime %></td>
        <td><%= task.results1 %></td>
        <td><%= task.results2 %></td>
        <td><%= task.resultsTime %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
