<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Done:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @task.plan1 %>
  <%= @task.plan2 %>
</p>

<p>
  <strong>Plantime:</strong>
  <%= @task.planTime %>
</p>

<p>
  <strong>Results:</strong>
  <%= @task.results1 %>
  <%= @task.results2 %>
</p>

<p>
  <strong>Resultstime:</strong>
  <%= @task.resultsTime %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
